# --------------------
# 🔧 GENERALE
# --------------------
.DS_Store
Thumbs.db
*.swp

# --------------------
# 💻 IDE / EDITOR
# --------------------
.vscode/
.idea/
*.iml

# --------------------
# 🐍 PYTHON / FASTAPI (backend)
# --------------------
backend/__pycache__/
backend/*.py[cod]
backend/.env
backend/.env.*
backend/.pytest_cache/
backend/.mypy_cache/
backend/.pylint.d/
backend/venv/
backend/.venv/
backend/poetry.lock
**/*.pyc

# --------------------
# 📱 FLUTTER (frontend)
# --------------------
frontend/build/
frontend/.dart_tool/
frontend/.idea/
frontend/.packages
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.metadata
frontend/pubspec.lock
frontend/generated_plugin_registrant.dart
frontend/Unity/Tanks/.utmp
frontend/Unity/Tanks/Builds
frontend/Unity/Tanks/Library
frontend/Unity/Tanks/Logs
frontend/Unity/Tanks/Packages
frontend/Unity/Tanks/ProjectSettings
frontend/Unity/Tanks/Temp
frontend/Unity/Tanks/UserSettings
frontend/Unity/Platformer
frontend/android/unityLibrary


# Ignora file binari APK/AAB
**/*.apk
**/*.aab

# --------------------
# 🔐 CREDENZIALI / TEMP
# --------------------
*.log
*.tmp
*.bak
.env
.env.*
supabase/.temp/
supabase/.output/
